{% extends "layout.html" %}

{% block title  %}
        add class
{% endblock %}

{% block main %}
<h3>Add new class</h3>
<form action="\add_class" method="POST">
    <div class="form-group">
        <table class="table">
            <thead>
                <tr>
                    <td>
                        class name
                        <a href="#" data-toggle="tooltip" title="Please, use only latin letters.">⍰</a>

                    </td>
                    <!--<td>desired fraction, %</td>-->
                    <!--<td>diapason for fraction, %</td>-->
                    <!--<td>-->
                        <!--active ticker-->
                        <!--<a href="#" data-toggle="tooltip" title="Set active ticker for this class in 'change class info'">⍰</a>-->
                    <!--</td>-->
                    <!--<td> </td>-->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input name="classname" id="classname" autocomplete='off' class="form-control" type="text" placeholder="new class name">
                    </td>
                    <!--<td>-->
                        <!--<input name="fraction" autocomplete='off' class="form-control" type="number" value="0" min="0" max="100">-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<input name="diapason" autocomplete='off' class="form-control" type="number" value="10" min="0" max="100">-->
                    <!--</td>-->
                    <!--<td> None </td>-->
                    <td>
                        <input id="submit" name="submit" type="submit" disabled>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>


<script>
    document.querySelector('#classname').onkeyup = function(){
        if (document.querySelector('#classname').value === '') {
            document.querySelector('#submit').disabled = true;
        } else {
            document.querySelector('#submit').disabled = false;
        }
    }


    <!--for toolitp-->
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock %}