{% extends "layout.html" %}

{% block title  %}
        add ticker
{% endblock %}

{% block main %}
<h5>Add new ticker</h5>
<form action="\add_ticker" method="POST">
        <div class="form-group">
            <table class="table">
                <thead>
                    <tr>
                        <td>ticker symbol</td>
                        <td>ticker currency</td>
                        {% if portfolio_class != None %}
                        <td>
                            ticker class
                            <a href="#" data-toggle="tooltip" title="To use new class, add this class previously">⍰</a>
                        </td>
                        {% endif %}
                        <td></td>
                    </tr>

                </thead>
                <tbody>
                <tr>
                    <td>
                        <input name="newticker" id="newticker" autocomplete='on' class="form-control" type="text" placeholder="new ticker">
                    </td>
                    <td>
                        <select name='currency'>
                            <option selected value="USD">USD</option>
                            <option value="EUR">EUR</option>
                            <option value="RUB">RUB</option>
                        </select>
                    </td>
                    {% if portfolio_class != None %}
                    <td>
                        <select name='classname'>
                            {% for classname in portfolio_class %}
                                <option>{{classname}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    {% endif %}
                    <td>
                        <input id="submitnewticker" name="submitnewticker" type="submit" disabled>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
</form>

<p>Help: to change number of ticker go to rebalance page</p>


<script>
    document.querySelector('#newticker').onkeyup = function(){
        if (document.querySelector('#newticker').value === '') {
            document.querySelector('#submitnewticker').disabled = true;
        } else {
            document.querySelector('#submitnewticker').disabled = false;
        }
    }

    <!--for toolitp-->
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });

</script>
{% endblock %}