{% extends "layout.html" %}

{% block title  %}
        cash
{% endblock %}

{% block main %}

<h5>Change cash value</h5>
<form action="\cash" method="POST" style="display:inline">
    <div class="form-group">
        <input autocomplete='off' class="form-class" type="number" name="cashvalue" step="0.01" min="-9999999" max="9999999">
        <select name="currency">
            <option value="RUB">RUB</option>
            <option value="EUR">EUR</option>
            <option value="USD">USD</option>
        </select>

        <input name="changecash" type="submit" value="Save cash" class="btn btn-primary">
    </div>
</form>


<table class="table">
    <tbody>
            <tr class="table-active">
                <td>cash</td>
                <td>{{ portfolio_cash["USD"] }} $</td>
                <td>{{ portfolio_cash["EUR"] }} €</td>
                <td>{{ portfolio_cash["RUB"] }} ₽</td>
            </tr>
    </tbody>
</table>


<br>
<h5>Exchange matrix </h5>

<table class="table">
    <thead>
        <tr>
            <th scope="col">    </th>
            {% for key in exchange %}
                <th scope="col">{{key}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>

    {% for key1 in exchange %}
            <tr>
            <th scope="col">{{key1}}</th>
                {% for key2 in exchange %}
                    <th>{{"{:,.3f}".format(exchange[key1][key2]) }}</th>

                {% endfor %}
            </tr>
    {% endfor %}


    </tbody>
</table>


{% endblock %}