{% extends "layout.html" %}

{% block title  %}
        cash
{% endblock %}

{% block main %}
<table class="table">
    <tbody>
            <tr>
                <td>cash</td>
                <td>{{ portfolio_cash["USD"]["USD"] }} $</td>
                <td>{{ portfolio_cash["EUR"]["EUR"] }} €</td>
                <td>{{ portfolio_cash["RUB"]["RUB"] }} ₽</td>
            </tr>
    </tbody>
</table>


<br>
<h5>Change cash value</h5>
<form action="\" method="POST">
    <div class="form-group">
        <input autocomplete='off' class="form-class" type="number" name="cashvalue" step="0.01">
        <select name="currency">
            <option value="rub">RUB</option>
            <option value="euro">EURO</option>
            <option value="usd">USD</option>
        </select>

        <input name="changecash" type="submit" value="Save cash" class="btn btn-primary">
    </div>
</form>

<br>
<h5>Exchange matrix </h5>

<table class="table">
    <thead>
        <tr>
            <th scope="col">    </th>
            {% for key in exchange %}
                <th scope="col">{{key}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>

    {% for key1 in exchange %}
            <tr>
            <th scope="col">{{key1}}</th>
                {% for key2 in exchange %}
                    <th>{{"{:,.3f}".format(exchange[key1][key2]) }}</th>

                {% endfor %}
            </tr>
    {% endfor %}


    </tbody>
</table>


{% endblock %}