{% extends "layout.html" %}

{% block title  %}
        change password
{% endblock %}

{% block main %}
<form action="\change_password" method="POST">
    <div class="form-group">
        <input autocomplete="on" autofocus class="form-control" name="old" placeholder="Old password" type="password">
    </div>

    <div class="form-group">
        <input class="form-control" name="new" placeholder="New password" type="password">
    </div>
    <button class="btn btn-primary" type="submit" id="submit" disabled>Save new password</button>

    <br>
    <div id="message"></div>
</form>

<script>
<!--check for empty field-->
    var input = document.querySelectorAll("input");

    function IsEmpty()
    {
        document.querySelector('#submit').disabled = false;
        document.querySelector('#message').innerHTML = "";
        for (var i = 0; i < input.length; i++)
        {
            if (input[i].value == "")
            {
                document.querySelector('#submit').disabled = true;
                document.querySelector('#message').innerHTML = "You have empty fields.";
            }
        }
    }

    for (var i = 0; i < input.length; i++)
    {
        input[i].addEventListener('onchange', IsEmpty,false);
        input[i].addEventListener('keyup', IsEmpty, false);
        input[i].addEventListener('click', IsEmpty,false);
    }
</script>


{% endblock %}