{% extends "layout.html" %}

{% block title  %}
        change desired fraction
{% endblock %}

{% block main %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">ticker</th>
            <th scope="col">price</th>
            <th scope="col">number</th>
            <th scope="col">full price</th>
            <th scope="col">desired fraction</th>
            <th scope="col">real fraction</th>
        </tr>
    </thead>
    <tbody>
        {% for key in session.get('portfolio') %}
            <tr>
                <td>{{key}}</td>
                <td>{{"${:,.2f}".format(portfolio[key]['price'])}}</td>
                <td>{{portfolio[key]['number']}}</td>
                <td>{{ "${:,.2f}".format(portfolio[key]['fullPrice']) }}</td>
                <td>
                    <form action="\changefraction" method="POST">
                        <div class="form-group">
                            <input autocomplete='off' class="form-class" type="number" name={{key}} value={{portfolio[key]['fraction']}} min="0" max="100">
                        </div>
                </td>
                <td>{{portfolio[key]['realFraction']}}%</td>
            </tr>
        {% endfor %}

        <tr>
            <td></td><td></td><td></td><td></td>
            <td>
                <h7 id="sum"></h7>
                <br>
                        <input id="submit" name="submit" type="submit" disabled value="Save new fractions" class="btn btn-info">
                </form>
            </td>
            <td></td>
        </tr>

    </tbody>
</table>

<script>
    var div = document.querySelectorAll('div > input');

    function summation(){
        let sums = 0;
        for (var i = 0; i < div.length; i++){
            sums += 1 * div[i].value;
        }

        if (sums == 100){
            document.querySelector('#submit').disabled = false;
        }
        else{
            document.querySelector('#submit').disabled = true;
        }
        document.querySelector('#sum').innerHTML = "Sum is " + sums + "%";
    }

    for (var i = 0; i < div.length; i++)
    {
        div[i].addEventListener('keyup', summation,false);
        div[i].addEventListener('click', summation,false);
    }
</script>

<br>
<br>
<br>
<h7>prices and exchange rates are actual for {{ date }} </h7>


{% endblock %}