{% extends "layout.html" %}

{% block title  %}
        classes
{% endblock %}

{% block main %}

<h3>Change classes info</h3>

<form action="\change_class_info" method="POST">
<table class="table">
    <thead>
        <tr>
            <td>class</td>
            <td>desired fraction</td>
            <td>fraction range</td>
            <td>active ticker
                <a href="#" data-toggle="tooltip" title="This ticker will be used to rebalance the class. Only tickers from this class are available. To change class of ticker go to 'classes and tickers/change ticker info'">⍰</a>
            </td>
        </tr>
    </thead>

    <tbody>
        {% for classname in portfolio_class%}
            <tr class="table-active">
                <td>
                    <div class="form-group">
                        <input class="classname" autocomplete='off' type="text" id={{ids[classname]['name']}}  name={{ids[classname]['name']}} value={{classname}}>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="fraction" autocomplete='off' type="number" id={{ids[classname]['fraction']}}  name={{ids[classname]['fraction']}} value={{portfolio_class[classname]['fraction']}} min="0" max="100">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="diapason" autocomplete='off' type="number" id={{ids[classname]['diapason']}}  name={{ids[classname]['diapason']}} value={{portfolio_class[classname]['diapason']}} min="0" max="100">
                    </div>
                </td>

                <td>
                    <select name={{ids[classname]['activeticker']}} >
                        <option>None</option>
                        {% for tck in portfolio_ticker %}
                            {% if portfolio_ticker[tck]['classname'] == classname %}
                                {% if tck == portfolio_class[classname]['activeticker']%}
                                    <option selected>{{tck}}</option>
                                {% else %}
                                    <option>{{tck}} </option>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                    </select>
                </td>
            </tr>
        {% endfor %}
    </tbody>

</table>

<input id="submit" name="submit" type="submit" value="Save changes" class="btn btn-info">

</form>
<h7 id="sum"></h7>


<script>
    var div = document.querySelectorAll("input.fraction");

    function summation(){
        let sums = 0;
        for (var i = 0; i < div.length; i++){
            sums += 1 * div[i].value;
        }

        if (sums == 100){
            document.querySelector('#submit').disabled = false;
            document.querySelector('#sum').innerHTML = " ";
        }
        else{
            document.querySelector('#submit').disabled = true;
            document.querySelector('#sum').innerHTML = "Sum of all desired fractions is " + sums + "%";
        }
    }

    for (var i = 0; i < div.length; i++)
    {
        div[i].addEventListener('keyup', summation,false);
        div[i].addEventListener('click', summation,false);
    }

<!--for toolitp-->
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });

</script>


{% endblock %}