{% extends "layout.html" %}

{% block title  %}
        delete ticker
{% endblock %}

{% block main %}
<p>Warning: you can delete only ticker with zero number.</p>
<p>You can change number of ticker in rebalance page.</p>

<form action="\delete_ticker" method="POST">
    <div class="form-group">
        <select name='ticker'>
            <option selected></option>
            {% for tck in portfolio_ticker %}
                {% if portfolio_ticker[tck]['number'] == 0 %}
                    <option>{{tck}}</option>
                {% endif %}
            {% endfor %}
        </select>

        <input id="id_deleteticker" name="delete" type="submit" value="Delete">
    </div>

</form>

<br><br><br><br><br><br><br><br>



{% endblock %}