{% extends "layout.html" %}

{% block title  %}
        delete ticker
{% endblock %}

{% block main %}
Warning: you can delete only ticker with zero number.
You can change number of ticker in rebalance page.

<form action="\delete_ticker" method="POST">
    <div class="form-group">
        <select name='ticker' id="id_ticker">
            <option selected>None</option>
            {% for tck in portfolio_ticker %}
                {% if portfolio_ticker[tck]['number'] == 0 %}
                    <option>{{tck}}</option>
                {% endif %}

            {% endfor %}
        </select>

        <input id="id_deleteticker" name="deleteticker" type="submit" disabled value="Delete">
    </div>

</form>

<br><br><br><br><br><br><br><br>

<script>
    document.querySelector('#id_ticker').onclick = function(){
        if (document.querySelector('#id_ticker').value === 'None') {
            document.querySelector('#id_deleteticker').disabled = true;
        } else {
            document.querySelector('#id_deleteticker').disabled = false;
        }
    }
</script>


{% endblock %}