{% extends "layout.html" %}

{% block title  %}
        delete class
{% endblock %}

{% block main %}

<form action="\delete_class" method="POST">
    <div class="form-group">
        <select name='classname' id="id_classname">
            <option selected>None</option>
            {% for classname in portfolio_class %}
                <option>{{classname}}</option>
            {% endfor %}
        </select>

        <input id="id_delete" name="delete" type="submit" disabled value="Delete">
    </div>

</form>

<br><br><br><br><br><br><br><br>


<script>
    document.querySelector('#id_classname').onclick = function(){
        if (document.querySelector('#id_classname').value === 'None') {
            document.querySelector('#id_delete').disabled = true;
        } else {
            document.querySelector('#id_delete').disabled = false;
        }
    }
</script>


{% endblock %}