{% extends "layout.html" %}

{% block title  %}
        index
{% endblock %}

{% block main %}
<h5>Total portfolio value:
{{ "${:,.2f}".format(session.get('total')) }}

</h5>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ticker</th>
            <th scope="col">number</th>
            <th scope="col">price</th>
            <th scope="col">full price</th>
            <th scope="col">desired fraction</th>
            <th scope="col">real fraction</th>
            <th scope="col">Rebalance suggestion</th>
        </tr>
    </thead>


    <tbody>

        {% for key in session.get('portfolio') %}
            <tr>
                <td>{{key}}</td>
                <td>{{portfolio[key]['number']}}</td>
                <td>{{"${:,.2f}".format(portfolio[key]['price'])}}</td>
                <td>{{ "${:,.2f}".format(portfolio[key]['fullPrice']) }}</td>
                <td>{{portfolio[key]['fraction']}}%</td>
                <td>{{portfolio[key]['realFraction']}}%</td>
                <td>{{portfolio[key]['suggestion']}}</td>
            </tr>
        {% endfor %}

        <tr>
            <td>
            <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for( 'addnewticker') }}';"> Add new ticker</button>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for( 'rebalance') }}';"> Rebalance</button>
            </td>
        </tr>
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th scope="col">currency</th>
            <th scope="col">value</th>
            <th scope="col">to USD</th>
            <th scope="col">price in USD</th>
            <th scope="col">real fraction</th>
        </tr>

    </thead>
    <tbody>
        {% for key in cash %}
            <tr>
                <td>{{key}}</td>
                <td>{{cash[key]['symbol']}}{{"{:,.2f}".format(cash[key]['value'])}}</td>
                <td>{{"{:,.2f}".format(cash[key]['tousd'])}}</td>
                <td>${{"{:,.2f}".format(cash[key]['usdprice'])}}</td>
                <td>{{cash[key]['realFraction']}}%</td>
            </tr>
        {% endfor %}
    </tbody>
</table>



<br>
<h5>Change cash value</h5>
<form action="\" method="POST">
    <div class="form-group">
        <input autocomplete='off' class="form-class" type="number" name="cashvalue" step="0.01">
        <select name="currency">
            <option value="rub">RUB</option>
            <option value="euro">EURO</option>
            <option value="usd">USD</option>
        </select>

        <input name="changecash" type="submit" value="Save cash" class="btn btn-primary">
    </div>
</form>


<br>
<br>
<br>
<h7>prices and exchange rates are actual for {{ date }}.</h7>
<form action="\" method="POST">
    <div class="form-group">
        <input type="submit" name = "refresh" class="form-group" value="refresh">
        </div>
</form>



{% endblock %}
