{% extends "layout.html" %}

{% block title  %}
        index
{% endblock %}

{% block main %}
<h5>Total portfolio value:
{{ "${:,.2f}".format(session.get('total')) }}

</h5>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ticker</th>
            <th scope="col">name</th>
            <th scope="col">price</th>
            <th scope="col">number</th>
            <th scope="col">full price</th>
            <th scope="col">desired fraction</th>
            <th scope="col">real fraction</th>
            <th scope="col">Rebalance suggestion</th>
        </tr>
    </thead>


    <tbody>

        {% for key in session.get('portfolio') %}
            <tr>
                <td>{{key}}</td>
                <td>{{portfolio[key]['fullName']}}</td>
                <td>{{"${:,.2f}".format(portfolio[key]['price'])}}</td>
                <td>{{portfolio[key]['number']}}</td>
                <td>{{ "${:,.2f}".format(portfolio[key]['fullPrice']) }}</td>
                <td>{{portfolio[key]['fraction']}}%</td>
                <td>{{portfolio[key]['realFraction']}}%</td>
                <td>{{portfolio[key]['suggestion']}}</td>
            </tr>
        {% endfor %}


        {% for key in cash %}
            <tr>
                <td>cash </td>
                <td>{{key}}</td>
                <td>{{cash[key]['symbol']}}{{cash[key]['value']}}</td>
                <td></td>
                <td>${{cash[key]['usdprice']}}</td>
                <td></td>
                <td>{{cash[key]['realFraction']}}%</td>
                <td></td>
            </tr>
        {% endfor %}

        <tr>
            <td>
            <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for( 'addnewticker') }}';"> Add new ticker</button>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="rebalance.html" class="btn btn-primary">Rebalance</a></td>
        </tr>
    </tbody>
</table>
<br>



<br>
<br>
<br>
<h7>prices and exchange rates are actual for {{ date }} </h7>
<form action="\" method="POST">
    <div class="form-group">
        <input name="refresh" type="submit" value="refresh" class="form-group">
        </div>
</form>



{% endblock %}
