{% extends "layout_empty.html" %}

{% block title  %}
        login
{% endblock %}

{% block main %}
<form action="\login" method="POST">
    <div class="form-group">
        <input autocomplete="on" autofocus class="form-control" name="email" placeholder="email" type="email">
    </div>

    <div class="form-group">
        <input class="form-control" name="password" placeholder="Password" type="password">
    </div>
    <button class="btn btn-primary" type="submit" id="submit" disabled>Log In</button>

    <br>
    <div id="message"></div>
    <br><br><br><br>

    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for( 'forgot_password') }}';">I forgot password</button>

</form>
<br><br><br><br><br><br>

<script>
<!--check for empty field-->
    var input = document.querySelectorAll("input");

    function IsEmpty()
    {
        document.querySelector('#submit').disabled = false;
        document.querySelector('#message').innerHTML = "";
        for (var i = 0; i < input.length; i++)
        {
            if (input[i].value == "")
            {
                document.querySelector('#submit').disabled = true;
                document.querySelector('#message').innerHTML = "You have empty fields.";
            }
        }
    }

    for (var i = 0; i < input.length; i++)
    {
        input[i].addEventListener('onchange', IsEmpty,false);
        input[i].addEventListener('keyup', IsEmpty, false);
        input[i].addEventListener('click', IsEmpty,false);
    }


</script>
{% endblock %}