{% extends "layout.html" %}

{% block title  %}
    rebalance
{% endblock %}

{% block main %}
<div class="row mx-md-n5">
  <div class="col-md-5 pull-md-7">
      <div class="p-3 border bg-light">
        <h4 style="text-align:left;">
            Total:
            <div style="float:right;" >
                <span id="total">{{ "{:,.2f}".format(total[main_currency])}}</span>
                    {{symbols[main_currency]}}
            </div>
        </h4>

        <h6 style="text-align:left;">
            in cash:
            <div style="float:right;" >
                <span id="total_cash">{{ "{:,.2f}".format(total_cash[main_currency]) }}</span>
                 {{symbols[main_currency]}}
            </div>
        </h6>

        <h6 style="text-align:left;">
            in tickers:
            <div style="float:right;">
                <span id="total_ticker">{{"{:,.2f}".format(total[main_currency] - total_cash[main_currency])}}</span>
                    {{symbols[main_currency]}}
            </div>
        </h6>

      </div>
  </div>

  <div class="col-md-7 push-md-5">
      <div class="p-3  border bg-light">
        <table class="table table-sm">
            <thead>
            <tr class="table-active">
                <td>class</td>
                <td>desired fraction</td>
                <td>real fraction</td>
                <td>rebalance suggestion</td>
                <!--<td>rebalance value</td>-->
            </tr>

            <tbody>
                {% for classname in portfolio_class %}
                    <tr style="line-height:20px;">
                        <td name="classname_field">{{classname}}</td>
                        <td> {{portfolio_class[classname]['fraction']}} % </td>
                        <td id={{classname}}> {{portfolio_class[classname]['realfraction']}} % </td>
                        <td>
                            {% if suggestion[classname]['number'] == None%}
                                <h8>None</h8>
                            {% else %}
                                {% if suggestion[classname]['number'] == 0 %}
                                    <h6>
                                {{ suggestion[classname]['number'] }} {{portfolio_class[classname]['activeticker']}}
                                    </h6>
                                {% elif suggestion[classname]['number'] > 0 %}
                                    <h6 style="color:green">
                                        +{{ suggestion[classname]['number'] }} {{portfolio_class[classname]['activeticker']}}
                                    </h6>
                                {% else %}
                                    <h6 style="color:red">
                                        {{ suggestion[classname]['number'] }} {{portfolio_class[classname]['activeticker']}}
                                    </h6>
                                {% endif %}
                            {% endif %}
                        </td>
                        <!--<td> {{ "{:,.2f}".format(suggestion[classname][main_currency])}} {{symbols[main_currency]}} </td>-->
                    </tr>
                {% endfor %}

                <tr >
                    <td>cash</td>
                    <td>0 %</td>
                    <td id="cash_fraction">{{cash_fraction}} %</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
      </div>
  </div>
</div>

<br>

<form action="\rebalance" method="POST">
    <div class="form-group">

    <table class="table">
        <thead>
            <tr>
                <td>ticker</td>
                <td>class</td>
                <td>old number</td>
                <td>suggestion</td>
                <td>new number</td>
                <td>price</td>
            </tr>
        </thead>

        <tbody>
        {% for orderedname in classname_list %}
            {% for ticker in portfolio_ticker %}
                {% if orderedname == portfolio_ticker[ticker]['classname'] %}
                <tr style="background-color:#EEEEEE;">
                    <td name="ticker">{{ticker}}</td>
                    <td name={{ids[ticker]['classname']}}>{{portfolio_ticker[ticker]['classname']}}</td>
                    <td name={{ids[ticker]['oldnumber']}}>{{portfolio_ticker[ticker]['number']}}</td>

                    {% set suggest = 0 %}
                    <td>
                    {% if portfolio_ticker[ticker]['classname'] != 'None' -%}
                        {% if portfolio_class[ portfolio_ticker[ticker]['classname'] ]['activeticker'] == ticker%}
                            {% if suggestion[ portfolio_ticker[ticker]['classname'] ]['number'] != 'None' %}

                                {% set suggest = suggestion[ portfolio_ticker[ticker]['classname'] ]['number'] %}

                                {% if suggestion[portfolio_ticker[ticker]['classname']]['number'] > 0 %}
                                    +{{ suggestion[ portfolio_ticker[ticker]['classname'] ]['number'] }}
                                {% else %}
                                    {{ suggestion[ portfolio_ticker[ticker]['classname'] ]['number'] }}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    </td>

                    <td>
                        {% set new_value = suggest + portfolio_ticker[ticker]['number'] %}
                        <input autocomplete='off' name={{ids[ticker]['newnumber']}}  class="form-class" type="number" value={{new_value}} min="0" max="9999">
                    </td>
                    <td name={{ids[ticker]['exchange']}} style="display:none;">{{exchange[portfolio_ticker[ticker]['currency']][main_currency]}}</td>

                    <td>
                        <input autocomplete='off' name={{ids[ticker]['price']}} class="form-class" type="number"  value={{portfolio_ticker[ticker]['price']}} step="0.0001" min="0" max="9999">
                        {{symbols[portfolio_ticker[ticker]['currency']]}}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

    <input id="check" type="button" value="Check" title="Press to recalulate cash, sum of all tickers and real fraction for classes." class="btn btn-primary"  />

     <input type='submit' id = "submit" value="Save" class="btn btn-info" disabled title="To save all changes. Enabled after successful check."/>
        <div id="why_disabled"></div>

</div>
</form>


<script>

    document.getElementById("check").addEventListener("click", function()
    {
        var ticker_arr = document.getElementsByName("ticker");

        var total_ticker = 0;

        var cash = {{total_cash[main_currency]}};

        <!--calculation of new total and new cash-->
        for (var i = 0; i < ticker_arr.length; i++)
        {
            let ticker = ticker_arr[i].innerHTML;
            let oldnumber = 1 * document.getElementsByName("oldnumber_" + ticker)[0].innerHTML;

            let newnumber = document.getElementsByName("newnumber_" + ticker)[0].value;
            let price = document.getElementsByName("price_" + ticker)[0].value;
            let exchange_koef =  document.getElementsByName("exchange_" + ticker)[0].innerHTML;

            let change = oldnumber - newnumber;
            cash = cash + change * price * exchange_koef;
            total_ticker = total_ticker + newnumber * price * exchange_koef;
        }


        <!--show new total and cash values-->
        var total = total_ticker + cash;
        document.querySelector("#total").innerHTML = total.toFixed(2);
        document.querySelector("#total_cash").innerHTML =   cash.toFixed(2);
        document.querySelector("#total_ticker").innerHTML =  total_ticker.toFixed(2);

        <!--calculate new cash fraction-->
        let cash_fraction = 100 * cash / total;
        document.querySelector("#cash_fraction").innerHTML = cash_fraction.toFixed(0) + " %";


        <!--calculation of new fraction for every ticker in class -->
        var classname_arr = document.getElementsByName("classname_field");

        for (var i = 0; i < classname_arr.length; i++)
        {
            let classname = classname_arr[i].innerHTML;
            let tck_sum = 0;

            <!--calculate price of all tickers for this classname -->
            for (let i = 0; i < ticker_arr.length; i++)
            {
                let ticker = ticker_arr[i].innerHTML;

                let ticker_classname = document.getElementsByName("classname_" + ticker)[0].innerHTML;

                    if (ticker_classname == classname)
                    {
                        let newnumber = document.getElementsByName("newnumber_" + ticker)[0].value;
                        let price = document.getElementsByName("price_" + ticker)[0].value;

                        let exchange_koef = document.getElementsByName("exchange_" + ticker)[0].innerHTML;

                        tck_sum = tck_sum + newnumber * price * exchange_koef;
                    }
            }

            <!--clalculate fraction for this class-->
            let new_fraction = 100 * tck_sum / total;

            document.querySelector("#" + classname).innerHTML = new_fraction.toFixed(0) + " %";
        }


        <!--check is cash positive after all-->
        if (cash < 0)
        {
            document.querySelector('#submit').disabled = true;
            document.querySelector("#why_disabled").innerHTML = "You don't have enough money for this operation.";
        }
        else
        {
            document.querySelector('#submit').disabled = false;
            document.querySelector("#why_disabled").innerHTML = " ";
        }
    } )


</script>


<br>
<br>
<br>
<h7>prices and exchange rates are actual for {{ moment(date).calendar() }} </h7>


{% endblock %}