{% extends "layout.html" %}

{% block title  %}
        rebalance
{% endblock %}

{% block main %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">ticker</th>
            <th scope="col">number</th>
            <th scope="col">suggestion</th>
            <th scope="col">price</th>
            <th scope="col">full price</th>
            <th scope="col">desired fraction</th>
            <th scope="col">real fraction</th>
        </tr>
    </thead>
    <form action="\rebalance" method="POST">
    <tbody>
        {% for key in portfolio %}
            <tr>
                <td>{{key}}</td>
                <td>
                    <div class="form-group">
                        <input autocomplete='off' class="form-class" type="number" name={{key}} value={{portfolio[key]['number']}}>
                    </div>
                </td>
                <td>{{portfolio[key]['suggestion']}}</td>
                <td>
                    <div class="form-group">
                        <input autocomplete='off' class="form-class" type="number" name={{key}} value={{"{:,.2f}".format(portfolio[key]['price'])}}>
                    </div>
                </td>
                <td id="fullPrice" + "w">{{ "${:,.2f}".format(portfolio[key]['fullPrice']) }}</td>
                <td>{{portfolio[key]['fraction']}}%</td>
                <td id="realFraction">{{portfolio[key]['realFraction']}}%</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

    </form>
<br>
<br>
<br>
<h7>prices and exchange rates are actual for {{ date }} </h7>


{% endblock %}