{% extends "layout.html" %}

{% block title  %}
        user settings
{% endblock %}

{% block main %}

<h3>Your current settings
    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for( 'change_settings') }}';">Change settings</button>
    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for( 'change_password') }}';">Change password</button>

</h3>

<form action="\settings" method="POST">
<table class="table">
    <tbody>
        {% for key in user_settings %}
            {% if key == 'report_day' %}
                <tr style="text-align:left;">
                    <td>{{key}}</td>
                    <td>
                        {% for ordered in ['monday', 'tuesday','wednesday','thursday','friday','saturday','sunday']%}
                            {% for report_day in user_settings[key] %}
                                {% if ordered == report_day %}
                                    {{report_day.capitalize()}}<br>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </td>
                    <td></td>
                </tr>

            {% else %}
                <tr style="text-align:left;">
                    <td >{{key}}</td>
                    <td>{{user_settings[key]}}</td>
                    {% if key=='email' %}
                        <td>

                            <div class="form-group">
                                <input id="send" name="send" type="submit" value="Send test email" class="btn btn-primary mb-2">
                            </div>

                        </td>
                        {% else %}
                            <td></td>
                    {% endif %}
                </tr>
            {% endif %}

        {% endfor %}
    </tbody>
</table>
</form>

<br>
<form action="\settings" method="POST" onSubmit="return confirm('Are you sure you wish to delete this user?');">
    <div class="form-group" >
        <input id="delete" name="delete" type="submit" value="Delete this user" class="btn btn-primary mb-2">
    </div>
</form>
<br>





{% endblock %}