{% extends "layout.html" %}

{% block title  %}
        add new ticker
{% endblock %}

{% block main %}

<h3>Your current settings
    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for( 'change_settings') }}';">Change settings</button>
</h3>

<table class="table">
    <tbody>
        {% for key in user_settings %}
            <tr style="text-align:left;">
                <td >{{key}}</td>
                <td>{{user_settings[key]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<br>
<br>

Send test mail
<form action="\settings" method="POST">
        <div class="form-group">
            <input id="send" name="send" type="submit">
        </div>
</form>



{% endblock %}