{% extends "layout.html" %}

{% block title  %}
        rebalance
{% endblock %}

{% block main %}

<h5 id="total">Total is ${{"{:,.2f}".format(total[main_currency])}} </h5>
<h6 id="total_add"> including {{ "{:,.2f}".format(total[main_currency] - total_cash[main_currency])}} {{main_currency}} in tickers
    and "{:,.2f}".format(total_cash[main_currency]) }} in cash</h6>

<h5>Classes</h5>
<table class="table">
    <thead>
    <tr>
        <td>class</td>
        <td>desired fraction</td>
        <td>real fraction</td>
        <td>rebalance suggestion</td>
        <td>rebalance value</td>
    </tr>

    <tbody>
    {% for classname in portfolio_class%}
        <tr class="table-active">
            <td> {{classname}} </td>
            <td> {{portfolio_class[classname]['fraction']}} % </td>
            <td> {{portfolio_class[classname]['realfraction']}} % </td>
            <td>
                {% if suggestion[classname]['number'] == None%}
                        <h6>None</h6>
                {% else %}
                    {% if suggestion[classname]['number'] > 0 %}
                        <h4 style="color:green">
                            +{{ suggestion[classname]['number'] }} {{portfolio_class[classname]['activeticker']}}
                        </h4>
                    {% else %}
                        <h4 style="color:red">
                            {{ suggestion[classname]['number'] }} {{portfolio_class[classname]['activeticker']}}
                        </h4>
                    {% endif %}
                {% endif %}

            </td>
            <td> {{ "{:,.2f}".format(suggestion[classname]['EUR'])}} € </td>
        </tr>
    {% endfor %}
    </tbody>
</table>




<table class="table">
    <thead>
        <tr>
            <th scope="col">ticker</th>
            <th scope="col">old number</th>
            <th scope="col">suggestion</th>
            <th scope="col">new number</th>

            <th scope="col">price</th>
            <th scope="col">desired fraction</th>
            <th scope="col">real fraction</th>
        </tr>
    </thead>

    <tbody>
        {% for key in portfolio_ticker %}
            <tr>
                <td name="key">{{key}}</td>

                <!--old number-->
                <td name={{ids[key]['oldnumber']}} value={{portfolio[key]['number']}}>
                    {{portfolio[key]['number']}}
                </td>

                <td>
                    {% if  portfolio[key]['suggestion'] > 0 %}
                    <div style="color:red"> +{{portfolio[key]['suggestion']}}</div>
                    {% else %}
                    <div style="color:blue"> {{portfolio[key]['suggestion']}}</div>
                    {% endif %}
                </td>

                <!--new number-->
                <td>
                    <form>
                        <div class="form-group">
                            <input autocomplete='off' name={{ids[key]['newnumber']}}  class="form-class" type="number" value={{portfolio[key]['number']}} min="0" max="9999">
                        </div>
                    </form>
                </td>

                <td>
                    <form>
                        <div class="form-group">
                            <input autocomplete='off' name={{ids[key]['price']}} class="form-class" type="number"  value={{"{:,.2f}".format(portfolio[key]['price'])}} min="0" max="9999999">
                        </div>
                    </form>
                </td>
                <td>{{portfolio[key]['fraction']}}%</td>
                <td id={{ids[key]['realFraction']}}>{{portfolio[key]['realFraction']}}%</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for( 'rebalance') }}';"> Refresh </button>

<input id="check" type="button" value="Check" class="btn btn-primary"  />

<br>
<br>
<form action="\rebalance" method="POST">
     <input type='submit' id = "submit" value="Save" class="btn btn-info" disabled/>
</form>


<script>

    document.getElementById("check").addEventListener("click", function(){
        var keys = document.getElementsByName("key");

        var total_ticker = 0;

        var cash = {{total_cash}};

<!--calculation of new total and new cash-->
        for (var i = 0; i < keys.length; i++){
            key = keys[i].innerHTML;
            let oldnumber = 1 * document.getElementsByName("oldnumber_" + key)[0].innerHTML;

            let newnumber = document.getElementsByName("newnumber_" + key)[0].value;
            let price = document.getElementsByName("price_" + key)[0].value;

            let change = oldnumber - newnumber;
            cash = cash + change * price;
            total_ticker = total_ticker + newnumber * price;
        }

<!--show new total and cash values-->
        var total = total_ticker + cash;
        document.querySelector("#total").innerHTML = "Total is $" + total.toFixed(2);
        document.querySelector("#total_add").innerHTML =  "including $" + total_ticker.toFixed(2)  + " in tickers  and $" + cash.toFixed(2) + " in cash";


<!--calculation of new fraction for every ticker-->
        for (var i = 0; i < keys.length; i++){
            key = keys[i].innerHTML;
            let newnumber = document.getElementsByName("newnumber_" + key)[0].value;
            let price = document.getElementsByName("price_" + key)[0].value;

            let newfraction = 100 * newnumber * price / total;
            document.querySelector('#realFraction_' + key).innerHTML = newfraction.toFixed(0) + "%";

        }



<!--check is cash is positive after all-->
        if (cash < 0){
            document.querySelector('#submit').disabled = true;
        }
        else{
            document.querySelector('#submit').disabled = false;
        }

    }
    )

</script>


<br>
<br>
<br>
<h7>prices and exchange rates are actual for {{ date }} </h7>


{% endblock %}